:root {
  --main-color: #050509;
  --secondary-color: #c93784;
  --third-color: #46cfe3;
  --input-background: #364151;
  --topic-background: #0b0f1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "chakra petch";
  src: url("./assets/fonts/chakra-petch/ChakraPetch-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "chakra petch";
  src: url("./assets/fonts/chakra-petch/ChakraPetch-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

th,
tr,
h1,
h2,
h3,
h4,
p,
a,
span,
li,
input,
textarea,
label,
small,
select,
button {
  font-family: "chakra petch";
}
