:root {
  --main-color: #050509;
  --secondary-color: #c93784;
  --third-color: #46cfe3;
  --input-background: #364151;
  --topic-background: #0b0f1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "chakra petch";
  src: url("./assets/fonts/chakra-petch/ChakraPetch-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "chakra petch";
  src: url("./assets/fonts/chakra-petch/ChakraPetch-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

th,
tr,
h1,
h2,
h3,
h4,
p,
a,
span,
li,
input,
textarea,
label,
small,
select,
button {
  font-family: "chakra petch";
}
.bouton1 {
  color: var(--main-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 15px;
  font-size: 1.8em;
  padding: 0.5em;
  font-weight: bold;
}

.bouton2 {
  background-color: var(--main-color);
  color: var(--third-color);
  border: 3px var(--third-color) solid;
  border-radius: 15px;
  font-size: 2em;
  padding: 0.5em;
  min-width: 200px;
}
.inputSizeM {
  background-color: var(--input-background);
  color: white;
  font-size: 2em;
  border: none;
  height: 1.8em;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  max-width: 500px;
}
.labelSizeM {
  color: white;
  font-size: 2em;
  padding-bottom: 0.3em;
}
#root {
  background-color: var(--main-color);
  height: 100vh;
  width: 100vw;
}
