#container {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile {
  border: 2px solid var(--third-color);
  height: 85vh;
  width: 85vw;
  max-width: 70em;
  background-color: var(--topic-background);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}
#avatarContainer {
  background-color: rgba(217, 217, 217, 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 20em;
  width: 20em;
  min-height: 20em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#avatar {
  width: 90%;
  border-radius: 100%;
}

.sectionOne {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  overflow: auto;
}
.sectionTwo {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 85%;
}

#buttonContainer {
  padding-top: 16vh;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.button {
  font-size: 1.6em;
}
.delete {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  font-size: 1.6em;
  padding: 0.5em;
  min-width: 200px;
  cursor: pointer;
}
#inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#password {
  font-size: 1.3em;
  margin: 15px;
  padding: 0.8em;
}
.label {
  color: white;
  font-size: 1.6em;
  padding-left: 15px;
  padding-bottom: 0.6em;
  width: 85%;
}
#security {
  padding-top: 3em;
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
}
#avatarLabel {
  padding-left: 0px;
}
.avatarButton {
  appearance: none;
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  background-color: transparent;
  padding: 0.6em;
  margin: 15px;
  cursor: default;
  text-align: center;
  color: var(--secondary-color);
  font-size: 1.6em;
  width: 85%;
  cursor: pointer;
}
.field {
  padding-left: 15px;
}
/*------------------------------ CONFIRME BOX ------------------------------- */
.confirmBoxContainer {
  position: fixed;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#confirmBox {
  border: solid 2px var(--third-color);
  height: 30vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--topic-background);
  border-radius: 15px;
  max-width: 50em;
}
.textConfirmBox {
  color: white;
  font-size: 1.8em;
  text-align: center;
}
.buttonConfBox {
  font-size: 1.3em;
}
.deleteConf {
  display: flex;
  gap: 5em;
}

#inputFile {
  color: white;
  font-size: 1.2em;
}
.fileContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 80%;
  justify-content: space-around;
}
.fileContainer input[type="file"] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}

#uploadButton {
  color: var(--third-color);
  background-color: transparent;
  font-size: 2em;
  border: 2px solid var(--third-color);
  border-radius: 15px;
  padding: 0.5em;
  cursor: pointer;
}
/*------------------------------ MEDIA CORIES ------------------------------- */
@media screen and (max-width: 880px) {
  #profile {
    flex-direction: column;
    height: 95%;
    overflow-y: auto;
  }
  #container {
    overflow: auto;
    box-sizing: border-box;
  }
  #buttonContainer {
    padding: 2em 0;
  }
  .sectionOne {
    width: auto;
    overflow: unset;
    padding-top: 1em;
  }
  .sectionTwo {
    width: auto;
  }
  .button {
    font-size: 1.2em;
  }
  #avatarContainer {
    height: 15em;
    width: 15em;
    min-height: 15em;
  }
  #confirmBox {
    width: 85vw;
  }
  .textConfirmBox {
    font-size: 1.3em;
  }
  .buttonConfBox {
    font-size: 1.2em;
    min-width: 130px;
  }
  .deleteConf {
    gap: 1em;
  }
  #validateFile,
  #uploadButton {
    font-size: 1.5em;
  }
}
